* {
    margin: 0;
    padding: 0;
    text-decoration: none;
	 font-family: 'Noto Sans JP', sans-serif;
    list-style: none;
}


.slogan {
	font-style: italic;
}

.form-control {
	background-color: beige;
	border-radius: 15px;
	font-style: italic;
	border: 1px dotted slategray;
	font-size: 13px;
}

#google-map {
	border-radius: 80px;
	
}

#portfolio-home{
	background-image: url("../../assets/images/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.jumbtron{
  height: 100vh
}

#hello{
  font-size: 8rem
}

.card-img-top{
	display: block;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 250px;

}

.btn2 {
  display: inline-block;
  /*border-radius: 20%;*/
  background-color: yellowgreen;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.btn2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn2:hover span {
  padding-right: 25px;
}

.btn2:hover span:after {
  opacity: 1;
  right: 0;
}

.btn3 {
  display: inline-block;
/*  border-radius: 80%;
*/  background-color: darkkhaki;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#capstone-body-1 {
	background-color: silver;
}

#capstone-body-2 {
	background-color: gold;
}

.card {
	background-position: center;
	background-size: stretch;
}


.project {
	font-style: italic;
}


.slogan {
	margin-bottom: 40px;
}


div.input-group-append button {
	font-size: 13px;
}

#alt-contact {
	list-style-type: none;
	display: flex;
	justify-content: space-around; 
	padding-left: 20px;
	padding-right: 20px;
	
}
.alt-fab {
	font-size: 32px;
	margin-top: 16px;

}

iframe {
	height: 240px;
}



/*=====SIDE BAR=========*/

.sidebar {
    position: fixed;
    /*left: -240px;*/
    left: 0px;
    width: 240px;
    height: 100%;
    background: #058ED9;
    transition: all .5s ease;
    border-right: 2px solid #d35400;
    box-shadow: 5px 5px 20px #d35400;
}

.logo {
    user-select: none;
    height: 140px;
    width: 140px;
    display: block;
    margin: 40px auto;
    border-radius: 100%;
    margin-bottom: 50px;
    border: 2px solid #d35400;
}

.sidebar a {
    display: block;
    color: white;
    height: 65px;
    width: 100%
    line-height: 65px;
    padding: 17px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-top: 1px solid black;
    border-left: 5px solid transparent;
    box-sizing: border-box;
    transition: all .5s ease;
    font-family: 'Squada One', cursive;
}

.sidebar a:hover, a.active {
    border-left: 5px solid #b93632;
    color: #d35400;
}
.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

p a:hover {
    color: #d35400; 
}

li a {
    color: black;
}

li a:visited {
    color: black;   
}

li a:hover, a.active {
    color: #d35400;
}

.container {
    margin-left: 240px;
    transition: all .5s ease;
}

#check {
    display: none;
}

label #btn, label #cancel {
    opacity: 0.6;
    position: absolute;
    cursor: pointer;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    color: white;
    font-size: 29px;
    border-radius: 5px;
    margin: 15px 260px;
    border: 1px solid #262626;
    transition: all .5s ease;
    position: fixed;

}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #btn {
    margin-left: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

#check:checked ~ label #cancel {
    margin-left: 25px;
    opacity: 0.6;
    visibility: visible;
    transition: all .5s ease;
    position: fixed;
}

#check:checked ~ .sidebar {
    left: -240px;
    transition: all .5s ease;
}

#check:checked ~ .container {
    margin-left: 0px;
    transition: all .5s ease;
}
/*#check:checked ~ ul {
    margin-left: 0;
}*/



